<!-- JAVASCRIPT FOR NAVBAR -->
<script src="/app.js" defer></script>

<!-- Nav bar menu for desktop and hamburger menu for mobile -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.XCIMb7yDdeuvwnUAmOfxJgHaHc%26pid%3DApi%26h%3D160&f=1" width="" height="">
    </a>


    <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Captain's Log
      </a>

      <a href="/" class="navbar-item">
        Crew Member List
      </a>

      <a href="/foodLogs/index" class="navbar-item">
        Food Logs
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a href="https://github.com/mickey-vershbow" target="_blank" class="navbar-item">
            Documentation
          </a>
          <a href="https://github.com/mickey-vershbow" class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a href="https://github.com/mickey-vershbow" class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/auth/signup" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="/auth/login" class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
