  <section class="hero is-primary is-small has-text-centered">
      <div class="hero-body">
        <p class="title is-large">Captain's Log</p>
        <p class="subtitle">Local Time: <%= time %></p>

      </div>
    </section>
<!--
    <h6>Local Time: <%= time %></h6>
  <a href="/logs/new"><button>Create A New Log</button></a>
  </div> -->
    <main>
        <br>
