<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Captain's Log Page</h1>
        <form action="/logs" method="POST">
            Name: <input type="text" name="name" /><br/>
            Entry: <input type="text" name="color" /><br/>
            shipIsBroken: <input type="checkbox" name="shipIsBroken" /><br/>
            <input type="submit" name="" value="Create Log"/>
        </form>
    </body>
</html>
