<!DOCTYPE html>
<html>
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
<body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>

    <section class="hero is-primary is-small has-text-centered">
      <div class="hero-body">
        <p class="title is-large">Create New Captain's Log</p>
      </div>
    </section>
        <br>

        <form action="/logs" method="POST">
            Title: <input type="text" name="title" /><br/>
            Entry: <input type="text" name="entry" /><br/>
            shipIsBroken: <input type="checkbox" name="shipIsBroken" /><br/>
            <input type="submit" name="" value="Create Log"/>
        </form>
    </body>
</html>
