<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Logs Show Page</h1>
        <div class="logs-show">
            <strong>Title: </strong>
            <%= log.title %> <br><br>
            <strong>Entry: </strong>
            <%= log.entry %> <br><br>
            <strong>Ship Condition: </strong>
            <% if (log.shipIsBroken === true) { %>
            <i> The ship is broken! </i>
            <% } else { %>
            <i> The ship is in good condition! </i>
            <% } %>
        </div>

        <br><br><br>

        <a href="/logs/index"><button>Return to Index Page</button></a>
</body>
</html>
