<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Captain's Log Show Page</h1>
        <div class="logs-show">
            <strong>Title: </strong>
            <%= log.title %> <br><br>
            <strong>Entry: </strong>
            <%= log.entry %> <br><br>
            <strong>Ship Condition: </strong>
            <% if (log.shipIsBroken === true) { %>
                <p class="ship-alert">The ship is broken!</p>
            <% } else { %>
                <p> The ship is in good condition! </p>
                <% } %>
                <br><br><br>
                <i> Log created at <%= log.createdAt %> </i>
            <br><br>
                <i> Log updated at <%= log.updatedAt %> </i>
        </div>

        <br><br>

        <!-- EDIT LINK -->
            <a href="/logs/edit"><button>EDIT LOG</button></a><br>
            <br><br>

          <!-- INDEXLINK -->
            <a href="/logs/index"><button>Return to Index Page</button></a>
</body>
</html>
