* {
    font-family: 'Crimson Text', serif;
}


.logs-show {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}

/* .logs-index {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    list-style: none;
    text-align: center;
} */

h1 {
    /* color: white; */
    text-align: center;
}




.ship-alert-red {
    color: maroon;
    font-weight: bolder;
    font-size: larger;
}

.ship-alert-green {
    color: green;
    font-weight: bolder;
    font-size: larger;
}


.home-image {
    margin: 0 auto;
    padding: 60px;
    display: block;
}

.captain-index {
    margin: 30px;
    align-items: center;
}

#logger-box {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#create-button {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#index-buttons {
    display: flex;
    justify-content: space-between;
}
