.logs-show {
    margin: 0 auto;
    padding: 10px;
}

.logs-index {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    list-style: none;
    text-align: center;
}

h1 {
    /* color: white; */
    text-align: center;
}


/* body {
    background-color: grey;
} */

.ship-alert-red {
    color: maroon;
    font-weight: bolder;
    font-size: larger;
}

.ship-alert-green {
    color: green;
    font-weight: bolder;
    font-size: larger;
}
