* {
    font-family: 'Crimson Text', serif;
}


.logs-show {
    width: 75%;
    padding: 10px;
    margin: 0 auto;
}

.logs-index {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    list-style: none;
    text-align: center;
}

h1 {
    /* color: white; */
    text-align: center;
}


body {
    /* background-color: grey; */
}

.ship-alert-red {
    color: maroon;
    font-weight: bolder;
    font-size: larger;
}

.ship-alert-green {
    color: green;
    font-weight: bolder;
    font-size: larger;
}

.edit-button {
    margin: 0 auto;
}

.home-image {
    margin: 0 auto;
    padding: 60px;
    display: block;
}

.captain-index {
    margin: 30px;
    align-items: center;
}

/* #create-button {
    width: 80%;
    margin: 0 auto;
} */
